.next/
.next-dev-logs/
.turbo/
node_modules/
dist/
coverage/
.yct-data/
*.tsbuildinfo
packages/schemas/src/*.js
*.log
.env
.env.*
!.env.example
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
desktop.ini
